body
    width: 100%
    min-width: 382px
header
    
.navbar
    
    img
        // @media ( max-width:  )
            
    ul
        width: 100%
        li
            text-align: center
            font-size: 30px

main
    padding-top: 200px
    form
